<html>
	<head>
		<title>Reset Password</title>
	</head>
	<body bgcolor="green">
		<div>
			<div align="center">
				<h1>RESET PASSWORD</h1>
				<table>
					<tr><td>User name:</td></tr>
					<tr><td><input type="text" size="23" name="ruser" id="ruser"></td></tr>
					<tr><td>Mail id:</td></tr>
					<tr><td><input type="text" size="23" name="remail" id="remail"></td></tr>
					<tr><td>Phone number:</td></tr>
					<tr><td><input type="text" size="10" name="rnumber" id="rnumber"></td></tr>
					<tr><td>personal VSpin:</td></tr>
					<tr><td><input type="password" size="5" name="rVSpin" id="rVSpin"></td></tr>
					<button>Submit</button>
				</table>
			</div>
		</div>
	</body>
</html>