<html>
	<head>
		<title>Welcome to VS Stores</title>
	</head>
    <body bgcolor="grey">
        <div align="center" class="padcolor">
			<h1>Login</h1>
			<form>
				mail id:
				<input type="text" size="23" name="Cmaillog" id="Cmaillog">
				<br><br>
				password:
				<input type="password" name="Cpasslog" id="Cpasslog">
				<br><br>
				<button>Submit</button> 
			</form>
			<br><br>
			<i>
			<a href="/reset">forgot password??</a></i>
			<br><br>
			<i><a href="">register</a></i>
		</div>
    </body>
</html>